# basic
python-dotenv
pandas
numpy

# graphics
matplotlib
plotly
pandas-ta

# stock data
tinkoff
tinkoff-investments
yfinance

# ML
scikit-learn
torch
hmmlearn
joblib

# telegram
#threading
telebot

# web app
fastapi
uvicorn
sqlalchemy
passlib
psycopg2
python-multipart