<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h1>Main Page</h1>
    <button onclick="window.location.href='/download'">Download Table</button>
    <button onclick="window.location.href='/plot'">Build Plot</button>
    <button onclick="window.location.href='/ai'">AI Prediction</button>
    <button onclick="window.location.href='/'">Home</button>
</body>
</html>
