#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.welcomeText {
  text-align: center;
  margin-bottom: 2rem;
}

.loggedInWelcomeText {
  font-size: 1.25rem; /* уменьшенный размер шрифта */
  text-align: center;
  margin-top: 1rem; /* сдвигаем к верхушке */
  margin-bottom: 1rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.loginButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem; /* расстояние между кнопками */
}

.centerButtonsGroup {
  display: flex;
  justify-content: center;
  gap: 1rem; /* расстояние между кнопками */
  margin-top: 1rem;
}


.centerInput {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.rightUpperAngleButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.leftUpperAngleButton {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.centerTable {
  display: flex;
  justify-content: center;
  margin-top: 50px; /* Увеличен отступ сверху */
  margin-bottom: 20px; /* Добавлен отступ снизу */
}

.centerTable table {
  border-collapse: collapse; /* Убирает двойные границы между ячейками */
  width: 77%; /* Ширина таблицы */
}

.centerTable th, .centerTable td {
  border: 1px solid #ccc; /* Границы вокруг ячеек */
  padding: 8px 12px; /* Отступы внутри ячеек */
  text-align: center; /* Выравнивание текста по центру */
}

table th, table td {
  text-align: center;
  vertical-align: middle;
}




.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
